@tailwind base;
@tailwind components;
@tailwind utilities;


* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #4ade80;
  border-radius: 50px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #16a34a; 
}